@import url("buy.css");


body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	background: #d5d5d5;
}

.container {
	max-width: 500px;
	margin: 0;
	padding: 0;

}

text {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

header {
	height: 45px;
	margin-top: -5px;
	position: fixed;
	width: 100%;
	background-color: #ffffffbd;
	padding-bottom: 10px;
  padding-top: 10px;
}

.logo {
	display: inline-block;
}

#logo {
	width: 40px;
 	height: auto;
 	border-radius: 10px;
 	margin-top: 3px;
 	padding-bottom: 1px;
 	margin-left: 10px;
}

.search {
		height: 36px;
  	display: inline-block;
  	width: 69%;
  	border: solid 2px #9b9b9b;
  	margin-right: 5px;
  	margin-left: 5px;
  	border-radius: 15px;
}

.closeSvg {
	float: right;
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-right: 3px;
  display: none;
}


.searchInput {
	width: 75%;
 	height: 32px;
	border: none;
	border-radius: 15px;
	font-size: 18px;
	background-color: #fff0;
	position: relative;
  top: -15px;
}

input {
	outline:none;
}

.searchInput::after {
	border: none;
}



.hide {
	display: none;
}

.searchSvg {
	margin-left: 10px;
	margin-top: 9px;
	margin-bottom: 11px;
}

.filter {
	display: inline-block;
}

.filterSvg {
	padding-bottom: 7px;
}

.pageName {
	margin-top: 10px;
 	margin-left: 28px;
  	margin-bottom: 10px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #1e1e1e;
}

.sections {
	padding-top: 80px;
	width: 97%;
	overflow: scroll;
	display: grid;
	font-size: 10px;
	margin: 5px;
	grid-template-columns: 90px 90px 90px 90px 90px 90px;
}

.sections::-webkit-scrollbar {
  width: 10px;
}

.sections::-moz-scrollbar {
  width: 0px;
  height: 0px;
}

.telegram {
	width: 68px;
	height: 65px;
	border: solid 1px black;
	margin: 10px;
	border-radius: 10px;
	border: none;
}

.telegramImg {
	width: 68px;
  height: 65px;
  margin: 0;
  border-radius: 66px;
  background-color: white;
  padding: 5px;
}

.Instagram {
	width: 68px;
	height: 65px;
	border: solid 1px black;
	margin: 10px;
	border-radius: 10px;
	border: none;
}

.InstagramImg {
	width: 68px;
  height: 65px;
  margin: 0;
  border-radius: 66px;
  background-color: white;
  padding: 5px;
}

text, p{
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}









strike {
	color: red;
}


.inner {
	margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 290px 290px 290px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.img {
	width: 85%;
  border-radius: 15px;
  margin-top: 8px;
}

.item {
	text-align: center;
  margin: 10px;
  height: 265px;
  padding-top: 2px;
  background-color: #fff;
  width: 152px;
  border-radius: 20px;
}

.itemName {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.price {
	font-weight: 300;
	font-size: 17px;
	margin-bottom: 5px;
}


.btn {
	display: inline-block;
  	padding: 12px 37px;
  	border: none;
  	background: rgb(24, 59, 248);
  	border-radius: 17px;
  	color: #fff;
  	text-transform: uppercase;
  	font-weight: 700;
  	transition: background .2s linear;
}

.btn:active {
	background: rgb(59, 86, 232);
}

.usercard {
	text-align: center;
}


footer {
	width: 100%;
	text-align: center;
	height: 49px;
	margin-top: 5px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	background-color: white;
	padding-top: 25px;
}













